<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./../../styles/css/master.css">
  <title>Working - Search Job</title>
</head>

<body>
  <div class="container-fluid">
    <header class="p-internal-header">
      <i class="fas fa-chevron-left" onclick="history.go(-1)"></i>
      <form>
        <div class="row">
          <div class="input-field">
            <input id="search" type="text" placeholder="Pesquisar Projetos">
          </div>
        </div>
      </form>
    </header>
    <main class="p-internal-feed">
      <div class="container p-feed">
        <div class="col s10 m6">
          <div class="card horizontal">
            <div class="card-image">
              <img src="./../../img/ti.jpg" class="img-search">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="row">
                  <div class="col left">
                    <h6>Desenvolvedor NodeJS</h6>
                  </div>
                  <div class="col right">
                    <strong>20$ Valor Hora</strong>
                  </div>
                </div>
                <div>
                  <p>Desenvolvedor NodeJS com experiencia em criação de APIs utilizando o framework Expressjs</p>
                </div>
              </div>
              <div class="card-action">
                <a href="#">Analisar Desenvolvedor</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s10 m6">
          <div class="card horizontal">
            <div class="card-image">
              <img src="./../../img/ti.jpg" class="img-search">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="row">
                  <div class="col left">
                    <h6>Desenvolvedor NodeJS</h6>
                  </div>
                  <div class="col right">
                    <strong>20$ Valor Hora</strong>
                  </div>
                </div>
                <div>
                  <p>Desenvolvedor NodeJS com experiencia em criação de APIs utilizando o framework Expressjs</p>
                </div>
              </div>
              <div class="card-action">
                <a href="#">Analisar Desenvolvedor</a>
              </div>
            </div>
          </div>
        </div>
    </main>
  </div>
  <script src="./../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>