<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./../../styles/css/master.css">
  <title>Working - Search freela</title>
</head>

<body>
  <div class="container-fluid">
    <header>
      <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-chevron-left"></i>
      </a>
      <p>Criar projeto</p>
    </header>
    <main>
      <form action="">
        <div class="row">
          <div class="input-field col s6">
            <input id="title" type="text" placeholder="Titulo do projeto">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select>
              <optgroup label="Tipos">
                <option value="1">Loren 1</option>
                <option value="2">Loren 2</option>
                <option value="3">Loren 3</option>
                <option value="4">Loren 4</option>
              </optgroup>
            </select>
            <label>Tipo de Projeto</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="prazo" type="text" placeholder="Prazo">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" placeholder="Titulo do projeto">
          </div>
          <div class="input-field col s12">
            <select>
              <optgroup label="Tipos">
                <option value="1">Loren 1</option>
                <option value="2">Loren 2</option>
                <option value="3">Loren 3</option>
                <option value="4">Loren 4</option>
              </optgroup>
            </select>
            <label>Tipo de Projeto</label>
          </div>
        </div>
      </form>
    </main>
  </div>
  <script src="./../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>