<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="./../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="./../styles/css/master.css">
    <title>Working</title>
</head>
<body>
    <div class="row">
        <main class="col s7 no-padding">
            <div class="carousel carousel-slider center">
                <div class="carousel-fixed-item center">
                    <a class="btn waves-effect white grey-text darken-text-2">button</a>
                </div>
                <div class="carousel-item green accent-1 white-text" href="#one!">
                    <h2>First Panel</h2>
                    <p class="white-text">This is your first panel</p>
                </div>
                <div class="carousel-item green accent-2 white-text" href="#two!">
                    <h2>Second Panel</h2>
                    <p class="white-text">This is your second panel</p>
                </div>
                <div class="carousel-item green accent-1 white-text" href="#three!">
                    <h2>Third Panel</h2>
                    <p class="white-text">This is your third panel</p>
                </div>
                <div class="carousel-item green accent-2 white-text" href="#four!">
                    <h2>Fourth Panel</h2>
                    <p class="white-text">This is your fourth panel</p>
                </div>
            </div>
        </main>
        <section class="col s5">
            <h2>Entre</h2>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="text" class="validate">
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate">
                        <label for="password">Senha</label>
                    </div>
                </div>
            </form>
            <!-- <h2>Iniciar</h2>
            <form action="">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate">
                        <label for="name">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="emailII" type="text" class="validate">
                        <label for="emailII">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="passwordII" type="password" class="validate">
                        <label for="passwordII">Senha</label>
                    </div>
                </div>
            </form> -->
        </section>
        <aside class="col s2">
        </aside>
    </div>
    <script src="./../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script src="./../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="./../settings/materialize.js"></script>
</body>
</html>