<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./../../styles/css/master.css">
  <title>Working - Search freela</title>
</head>

<body>
  <div class="container-fluid">
    <header>
      <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-chevron-left"></i>
      </a>
      <div>
        <!-- <img src="" alt=""> -->
        <h3>jovem velho</h3>
    </header>
    <section>
      <h6>Web Developer</h6>
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </section>
    <section>
      <h6>Habilidades</h6>
      <div>
        <i class="fab fa-node-js"></i>
        <i class="fab fa-html5"></i>
        <i class="fab fa-css3-alt"></i>
        <i class="fab fa-js-square"></i>
        <i class="fab fa-angular"></i>
        <i class="fab fa-gulp"></i>
      </div>
    </section>
    <article>
      <h6>Descrição</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor mauris ac auctor tempus. Mauris eget metus
        dui. Nam finibus augue et neque rutrum lobortis. Fusce in luctus massa.</p>
    </article>
    <section>
      <h6>Projetos desenvolvidos</h6>
      <div>
        <div>
          <strong>Descrição</strong>
          <strong>Prazo: 5 dias</strong>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor mauris ac auctor tempus.</p>
        </div>
        <div>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
    </section>
    <div>
      <button>Denunciar</button>
      <button>Avaliar</button>
    </div>
  </div>
  <script src="./../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>