<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./../../styles/css/master.css">
  <title>Working - Search Job</title>
</head>

<body>
  <div class="container-fluid">
    <header>
      <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-chevron-left"></i>
      </a>
      <form>
        <div class="row">
          <div class="input-field col s6">
            <input id="search" type="text">
          </div>
        </div>
      </form>
    </header>
    <main>
      <i class="fas fa-suitcase"></i>
      <p>Encontre os melhores projetos</p>
    </main>
    <footer>
      <section class="p-button">
        <button class="modal-trigger" href="#p-modal-signUp">
          Não é usuário? Crie ja sua conta
        </button>
      </section>
    </footer>
  </div>
  <script src="./../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>