<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./../../styles/css/master.css">
    <title>Working</title>
</head>
<body class="p-home">
    <div class="row">
        <!-- Carousel Article -->
        <main class="col s6  no-padding p-main">
            <div class="carousel carousel-slider center p-carousel-article">
                <div class="carousel-fixed-item center p-item-fixed">
                    <header class="p-header white-text">
                        <h4 class="p-title">Working</h4>
                    </header>
                    <section class="p-button">
                        <button>Não é usuário? Crie ja sua conta</button>
                    </section>
                </div>
                <div class="carousel-item indigo lighten-1 white-text p-one" href="#one!">
                    <article class="p-article">
                        <h3 class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem quam,
                            tristique.</h3>
                    </article>
                    <div class="p-explorer">
                        <button class="p-btn-explorer">Explorar</button>
                    </div>
                    <section>
                        <span>Deslize para navegar</span>
                    </section>
                </div>
                <div class="carousel-item green accent-2 white-text" href="#two!">

                </div>
                <div class="carousel-item indigo lighten-1 white-text" href="#three!">

                </div>
                <div class="carousel-item green accent-2 white-text" href="#four!">

                </div>
            </div>
        </main>
        <!-- Carousel Form (Login / Register) -->
        <section class="col s5 hide-on-small-and-down">
            <div class="carousel carousel-slider center p-carousel-form">
                <div class="carousel-item p-signIn indigo lighten-5" href="#one!">
                    <h1 class="p-title">Sign In</h1>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" type="text" class="validate">
                                <label for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="password" type="password" class="validate">
                                <label for="password">Senha</label>
                            </div>
                        </div>
                    </form>
                    <section class="p-btn-signIn">
                        <div class="row">
                            <button class="p-btn-go">Entrar</button>
                        </div>
                        <div class="row">
                            <button class="p-btn-signUp">Criar uma nova conta</button>
                        </div>
                        <div class="row">
                            <button class="p-btn-github">
                                Entrar com Github
                                &nbsp;
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                        <div class="row">
                            <button class="p-btn-google">
                                Entrar com Google
                                &nbsp;
                                <i class="fab fa-google"></i>
                            </button>
                        </div>
                    </section>
                </div>
                <div class="carousel-item indigo lighten-5" href="#two!">
                    <section>
                        <h1 class="p-title">Sign Up</h1>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="name" type="text" class="validate">
                                    <label for="name">Nome</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="email" type="text" class="validate">
                                    <label for="email">E-mail</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Senha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="password-confirm" type="text" class="validate">
                                    <label for="password-confirm">Confirmar senha</label>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <aside class="p-aside-social">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-slack-hash"></i>
                </aside>
            </div>
        </section>
    </div>
    <script src="./../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>