<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="./../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./../../styles/css/master.css">
    <title>Pounder - Choose</title>
</head>
<body>
    <main>
        <div class="indigo lighten-1 white-text p-choose">
            &nbsp;
            <div class="p-choose-content">
                <div class="p-top center">
                    <a href="./../searchFreela/searchFreela.html">
                        <h3>Encontre Freelancers</h3>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="p-bottom center">
                    <a href="./../searchJob/searchJob.html">
                        <h3>Encontre Projetos</h3>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <script src="./../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>